---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/search?access_token=foobar&distance=500&lat=37.783672270721034&lng=-122.4209976196289
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '492'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"id": "44961364", "name": "San Francisco, California", "latitude":
        37.7793, "longitude": -122.419}, {"id": "1620031454964122", "name": "Hinata",
        "latitude": 37.78324, "longitude": -122.42048}, {"id": "44961364", "name":
        "San Francisco, California", "latitude": 37.7793, "longitude": -122.419},
        {"id": "5348828", "name": "Lamborghini San Francisco", "latitude": 37.78407,
        "longitude": -122.42129}, {"id": "368022523536058", "name": "City Halls",
        "latitude": 37.77929, "longitude": -122.41922}, {"id": "15707329", "name":
        "Civic Center", "lat[...]
