---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/44961364/media/recent?access_token=foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '490'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"pagination": {}, "data": [], "meta": {"code": 200}}'
  recorded_at: Sat, 14 Jul 2018 00:43:22 GMT
recorded_with: VCR 4.0.0
